@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Noto+Serif&family=Silkscreen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat&family=Noto+Serif&family=Silkscreen&display=swap');

/* Styling the boxes */
.big-map{
    z-index: 1;
}
.popup-video-nyu, .popup-video-ferrari, .popup-video-desert, .popup-video-barber {
    position: fixed;
    top:0; left:0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .8);
    height: 100%;
    width: 100%;
    display: none;
    border: 100px white;
}

.popup-video-nyu iframe, .popup-video-ferrari iframe, .popup-video-desert iframe, .popup-video-barber iframe{
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    width: 750px;
    object-fit: cover;
    /* display:none; */
    border: 100px white;
    
}

.popup-video-nyu span, .popup-video-ferrari span, .popup-video-desert span, .popup-video-barber span{
    position: absolute;
    top:5px; right:20px;
    z-index: 100;
    cursor: pointer;
    font-size: 50px;
    color: white;
    border: 100px white;
}

@media (max-width:768px){
    .popup-video iframe{
        width: 95%;
       
    }
}


/* Scaling - does not work */

.scale{
    width:1000px;
    height:1000px
}

.scale image:hover{
    transform: scale(0.5), translate(1370, 553);
}


#desert:hover image {
    cursor: pointer;

}

#nyu:hover image {
    cursor: pointer;
}

#barber:hover image {
    cursor: pointer;
}

#mosque:hover image {
    cursor: pointer;
}






/* Styling the legend */
h4{
    /* font-family: 'Caveat', cursive; */
    font-family: 'Amatic SC', cursive;
    font-weight: 800;
    text-decoration: double;
    font-size: 30px;
    text-decoration: underline;
    padding-bottom: 0;
    margin-bottom: 0;
}

p{
    /* font-family: 'Caveat', cursive; */
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 20px;
   
}

.elementToFadeInAndOut {
    position: absolute;
    top: 25%;
    right: 13%;
    width: 20%;
    height: 20%;
    text-align: center;
    font: 'Caveat', cursive;;
    display: block;
    z-index: 2;
   
  }
  
  

h1{
    padding-top:24%;
    font-family: 'Amatic SC', cursive;;
    margin: auto;
    font-size: 100px;
    font-weight: bolder;
    z-index: 9;
    
}

/* Styling  the intro page */

  .title{
    position: fixed;
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100%;
    animation: TfadeInOut 2s linear 1 forwards;
    z-index: 9;
    text-align: center;
    display: block;
  }


  @keyframes TfadeInOut {
    55% {
      opacity: 1;}

    100% {
      opacity: 0;
      z-index: -1;
    }
  }
